$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
// endbower

@font-face {
    font-family: "Gotham";
    font-style: normal;
    font-weight: 500;
	src: url("/fonts/Gotham-Light.eot") format('embedded-opentype'); 
    src: url("/fonts/Gotham-Light.woff") format('woff'), 	
		 url("/fonts/Gotham-Light.ttf") format('truetype'), 	
		 url("/fonts/Gotham-Light.otf") format('opentype'),
		 url("/fonts/Gotham-Light.eot?#iefix") format('embedded-opentype');
}

form {
	
	border-bottom: 2px #000 solid;
	display: block;
}
body {
	font-family: 'Gotham', sans-serif;
}

address span, small {
	display: block;	
}

#WeAreCollectivWorks {
	display: block;
	position: relative;
	width: 100%;
	z-index: -1;
	background: #CCC;
	background: url('../images/Hero-Light.jpg') no-repeat center center fixed #CCC;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	 background-size: cover;
}

	.ie8 {
		section {
			height: 800px !important;
		}
	}

#multi-text {
	span.active {
		display: inline;
	}	
}

.logo-mini-container {
	display: block;
	height: auto;
	width: 35px;
	height: 30px;
	padding-bottom: 10px;
}

div.vertical-spacer {
	display:block;
	width: 100%;
	height: 20vh;
	
	@media (max-width: 768px){
		height: 10vh;		
	}
	
	@media (max-height: 800px){
		height: 5vh;		
	}
	
	&.min {
		height: 3vh;
	}
	&.mid {
		height: 6vh;
	}
}

section {
	height: 100vh;
}

.center-logo {
	display: table;
	position: relative;
	margin: 0 auto;
	width: 20%;
	min-width: 240px;
	height: 100%;
	z-index: 1;
	
	.img-container {
		display: table-cell;
		vertical-align: middle;
	}
	
}

.form-horizontal {
	border-bottom: 2px #000 solid;
}

.no-padding {
	padding: 0;
}

.left-logo {
	padding-top: 40px;
	padding-left: 40px;
	img {
		max-width: 240px;	
	}
	
	@media(max-width: 992px) {
		padding-left: 0;
	}
	
	@media(max-width: 768px) {
		img {
			width: 2402px;	
		}
	}
}

#WeCraftCommunities {
	padding-bottom: 40px;
}

address {
	line-height: 20px;
	margin-bottom: 0;
}

@media(max-width: 768px) {
	.cw-address {
		padding-top: 10vh;
		padding-left: 0;
	}
	
	p {
		letter-spacing: 1px;
	}
	
	#footnote {
		margin-bottom: 36px;
	}
}

input {
	
	border: none;
	border-bottom: 2px #000 solid;
	background: #fff;
	padding: 10px;
	font-size: 14px;
	line-height: 1.8;
	display: inline-block;
	
	&:focus {
		outline: 0;
	}
	
	&[type=text], &[type=email] {
		padding-left: 0px;
	}
	
	&[type="submit"] {
		padding-right: 0;
		text-align: right;
	}
}

form {
	border-bottom: 2px solid #000 !important;
	text-align: left;
	font-size: 1em;
}

	h1{
		font-size: 4em;
		
		@media(max-width: 768px) {
			font-size: 3em;
		}
		
		line-height: 0.95;
		color:#000;
		.light {
			color: #777;
			-o-transition:.5s;
  			-ms-transition:.5s;
  			-moz-transition:.5s;
  			-webkit-transition:.5s;
			
			&:hover {
				color: #000;
			}
		}
	}

div {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.emailwrap {
	border-bottom: 2px #000 solid;
	box-sizing: border-box;
}

a {
	text-decoration: none !important;
}

li {
	margin-top: 5px;
	line-height: 1em;
}

#projects {
	padding-left: 0;
	list-style: none;
	
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

}

.browser-upgrade {
	position: absolute;
	background: none;
	display: inline-block;
}

.fake-row {
	display: table-row;
}

@media (max-width: 390px){
	h1 {
		font-size: 2.3em;
	}
	p {
		font-size: 1em;
	}
	#footnote {
		margin-bottom: 1em;
	}
}